name: Build

on:
  push:
    branches: [ main, quickBI-v3.0.0  ]
    paths:
      - "**/*.java"
      - "**/*.h"
      - "**/*.cc"
      - "**/CMakeList.txt"
      - "**/build.gradle"
      - "gradle.properties"
      - "settings.gradle"
      - ".github/workflows/build.yml"
  pull_request:
    branches: [ main, quickBI-v3.0.0  ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Configure libexpr
        working-directory: ${{github.workspace}}/libexpr
        run: cmake -B build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DBUILD_TESTS=OFF
      - name: Build libexpr
        working-directory: ${{github.workspace}}/libexpr
        run: cmake --build build --config ${{env.BUILD_TYPE}}
      - name: Config jni
        working-directory: ${{github.workspace}}/jni/src/main/cpp
        run: cmake -B build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}
      - name: Build jni
        working-directory: ${{github.workspace}}/jni/src/main/cpp
        run: cmake --build build --config ${{env.BUILD_TYPE}}
      - name: Check and test with Gradle
        run: ./gradlew check
